{% extends 'page.twig' %}

{% import 'form.twig' as f %}

{% block title %}
  Publications | Create
{% endblock title %}

{% block pageheader %}
{% endblock pageheader %}

{% block main %}
    <section class="row">
        <div class="col-md-2">
        <h3>Options</h3>
            <a href="/publication/"><i class="fa fa-list"></i>&nbsp;List</a><br />
            <a href="/publication/create"><i class="fa fa-plus-square-o"></i>&nbsp;Create</a>
            {{message}}
        </div>

        <div class="col-md-10">
        <h2>Add a new Publication</h2>
        <form action="#" method="post">
            {{ f.text({label: 'Name', name: 'name', ph: 'Please enter a publication title/name', required: 1 }) }}
            {{ f.text({label: 'Description', name: 'description', ph: 'Please enter a description', required: 1 }) }}
            {{ f.text({label: 'Licence', name: 'licence', ph: 'Please enter licence information', required: 1 }) }}
            {{ f.text({label: 'Authors', name: 'authors', ph: 'Please enter a comma separated list of authors', required: 1 }) }}

            <label for="type">Type</label>
            <div class="btn-group">
                <label class="btn btn-default">
                    <input type="radio" id="radio-document" name="type" value="isdocument   " />&nbsp;<i class="fa fa-file-word-o"></i>&nbsp;document
                </label>
                <label class="btn btn-default">
                    <input type="radio" id="radio-app" name="type" value="isapp" />&nbsp;<i class="fa fa-android"></i>&nbsp;application
                </label>
                <label class="btn btn-default">
                    <input type="radio" id="radio-src" name="type" value="isdata" />&nbsp;<i class="fa fa-file"></i>&nbsp;raw data
                </label>
                <label class="btn btn-default">
                    <input type="radio" id="radio-data" name="type" value="issourcecode" />&nbsp;<i class="fa fa-file-code-o"></i>&nbsp;source code
                </label>
            </div>
            {{ f.text({label: 'Data', name: 'data', ph: 'Please enter the data', required: 1 })}}

            <button type="submit" class="btn btn-primary btn-lg">Create</button>

        </form>
    </div>
    </section>
{% endblock main %}

{% block onload %}
  // initialise form elements (hide them!)
  $('#formdocument').hide();
  $('#formapps').hide();
  $('#formsourcecode').hide();
  $('#formdata').hide();

  // select which form elements to show
  $('#hasdata').change(function () {
    $("#formdata").toggle(this.checked);
  });Publication Types
  $('#hasdocument').change(function () {
    $("#formdocument").toggle(this.checked);
  });
  $('#hasapp').change(function () {
    $('#formapps').toggle(this.checked);
  });
  $('#hassourcecode').change(function () {
    $('#formsourcecode').toggle(this.checked);
  });
{% endblock onload %}

{% block pagefooter %}
{% endblock pagefooter %}
