{% extends 'page.twig' %}

{% import 'form.twig' as f %}

{% block title %}
  Publications | Create
{% endblock title %}

{% block pageheader %}
{% endblock pageheader %}

{% block links %}
    <link rel="stylesheet" href="{{assets}}/bower_components/tagmanager/tagmanager.css"/>
{% endblock links %}

{% block scripts %}
    <script src="{{assets}}/bower_components/tagmanager/tagmanager.js"></script>
{% endblock scripts %}

{% block main %}
    <section class="row">
        <div class="col-md-2">
        <h3>Options</h3>
            <a href="/publication/"><i class="fa fa-list"></i>&nbsp;List</a><br />
            <a href="/publication/create"><i class="fa fa-plus-square-o"></i>&nbsp;Create</a>
            {{message}}
        </div>

        <div class="col-md-10">
        <h2>Add a new Publication</h2>
        <form action="#" method="post">
            {{ f.text({label: 'Name', name: 'name', ph: 'Please enter a publication title/name', required: 1 }) }}
            {{ f.text({label: 'Description', name: 'description', ph: 'Please enter a description', required: 1 }) }}
            {{ f.text({label: 'Licence', name: 'licence', ph: 'Please enter licence information', required: 1 }) }}
            <div class="form-group">
                <label for="authors">Authors</label>
                <input class="form-control" type="text" name="_authors" id="_authors" placeholder="Please add authors. Press enter to to add each author." />
            </div>
            <label for="type">Type</label>
            <div class="btn-group">
                <label class="btn btn-default">
                    <input type="radio" id="radio-document" name="type" value="isdocument" />&nbsp;<i class="fa fa-file-word-o"></i>&nbsp;document
                </label>
                <label class="btn btn-default">
                    <input type="radio" id="radio-app" name="type" value="isapp" />&nbsp;<i class="fa fa-android"></i>&nbsp;application
                </label>
                <label class="btn btn-default">
                    <input type="radio" id="radio-src" name="type" value="isdata" />&nbsp;<i class="fa fa-file"></i>&nbsp;raw data
                </label>
                <label class="btn btn-default">
                    <input type="radio" id="radio-data" name="type" value="issourcecode" />&nbsp;<i class="fa fa-file-code-o"></i>&nbsp;source code
                </label>
            </div>
            {{ f.text({label: 'Data', name: 'data', ph: 'Please enter the data', required: 1 })}}
            <button type="submit" id="submit" class="btn btn-primary btn-lg">Create</button>

        </form>
    </div>
    </section>
{% endblock main %}

{% block onload %}

    // validate the authors on submit
    $('form').submit(function (event) {
        if($.trim($('input[name=authors]').val()) == '') {
            event.preventDefault();
            alert('authors required!');
        }
    });

    // enable tagsmanager on the _authors input
    $('#_authors').tagsManager({
        hiddenTagListName : 'authors',
        hiddenTagListId: 'authors',
    });
{% endblock onload %}

{% block pagefooter %}
{% endblock pagefooter %}
