{% extends 'page.twig' %}

{% import 'form.twig' as f %}

{% block title %}
  Publication Types
{% endblock title %}

{% block pageheader %}
{% endblock pageheader %}

{% block main %}
    <section class="row">
        <div class="col-md-2">
        <h3>Options</h3>
            <a href="/publication/"><i class="fa fa-list"></i>&nbsp;List</a><br />
            <a href="/publication/create"><i class="fa fa-plus-square-o"></i>&nbsp;Create</a>
        </div>

        <div class="col-md-10">
            <h2>All Publications</h2>
            <table class="table table-striped">
                <thead>
                    <th>id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Author(s)</th>
                    <th>Tags/Categories</th>
                    <th>Licence</th>
                    <th>Type</th>
                    <th>&nbsp;</th>
                </thead>
                <tbody>
                    {% for p in publications %}
                        <tr>
                            <td><a href="/publication/{{ p.id }}">{{ p.id }}</a></td>
                            <td>{{ p.name }}</td>
                            <td>{{ p.description }}</td>
                            <td>
                                {% set authors = p.authors|split(',') %}
                                {% for a in authors %}
                                    <span class="label label-success">{{a}}</span>
                                {% endfor %}
                            </td>
                            <td>
                                {% set tags = p.tags|split(',') %}
                                {% for t in tags %}
                                    <span class="label label-default">{{t}}</span>
                                {% endfor %}
                            </td>
                            <td>{{ p.licence }}</td>
                            <td>
                                {{ p.issourcecode ? 'Source Code' }}
                                {{ p.isapp ? 'Application' }}
                                {{ p.isdata ? 'Data' }}
                                {{ p.isdocument ? 'Document' }}
                            </td>
                            <td>
                                <a href="/publication/{{p.id}}/delete" class="btn btn-warning">Delete</a>
                                <a href="/publication/{{p.id}}" class="btn btn-default">View</a>
                                <a href="/publication/{{p.id}}/update" class="btn btn-info">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
