{% extends 'page.twig' %}

{% import 'form.twig' as f %}

{% block title %}
  Edit Publication {{publication.name}}
{% endblock title %}

{% block pageheader %}
{% endblock pageheader %}

{% block main %}
    <section class="row">
        <div class="col-md-2">
            {% include 'publication/_contextoptions.twig' %}
        </div>
        <div class="col-md-10">
        <h2>Edit: {{ publication.name }}</h2>
        <form action="#" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" name="name" id="name" placeholder="Please enter a publication title/name" required value="{{publication.name}}" />
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input class="form-control" type="text" name="description" id="description" placeholder="Please enter a description" required value="{{publication.description}}" />
        </div>
        <div class="form-group">
            <label for="licence">Licence</label>
            <input class="form-control" type="text" name="licence" id="licence" placeholder="Please enter the licence information" required value="{{publication.licence}}" />
        </div>
        <div class="form-group">
            <label for="authors">Authors</label>
            <input class="form-control" type="text" name="authors" id="authors" placeholder="Please enter a comma separated list of authors" required value="{{publication.authors}}" />
        </div>
        <label for="type">Type</label>
        <div class="btn-group">
            <label class="btn btn-default">
                <input type="radio" id="radio-document" name="type" value="isdocument" {{publication.isdocument ? 'checked'}} />&nbsp;<i class="fa fa-file-word-o"></i>&nbsp;document
            </label>
            <label class="btn btn-default">
                <input type="radio" id="radio-app" name="type" value="isapp" {{publication.isapp ? 'checked'}} />&nbsp;<i class="fa fa-android"></i>&nbsp;application
            </label>
            <label class="btn btn-default">
                <input type="radio" id="radio-data" name="type" value="isdata" {{publication.isdata ? 'checked'}} />&nbsp;<i class="fa fa-file"></i>&nbsp;raw data
            </label>
            <label class="btn btn-default">
                <input type="radio" id="radio-sourcecode" name="type" value="issourcecode" {{publication.issourcecode ? 'checked'}} />&nbsp;<i class="fa fa-file-code-o"></i>&nbsp;source code
            </label>
        </div>
        <div class="form-group">
            <label for="data">Data</label>
            <input class="form-control" type="text" name="data" id="data" placeholder="Please enter the data" required value="{{publication.data}}" />
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </form>
    </div>
    </section>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
