{% extends 'page.twig' %}

{% import 'form.twig' as f %}

{% block title %}
  Publication
{% endblock title %}

{% block pageheader %}
{% endblock pageheader %}

{% block main %}
    <section class="row">
    <div class="col-md-2">
    <h3>Options</h3>
        <a href="/publication/"><i class="fa fa-list"></i>&nbsp;List</a><br />
        <a href="/publication/create"><i class="fa fa-plus-square-o"></i>&nbsp;Create</a>
        <a href="/publication/{{publication.id}}/update"><i class="fa fa-edit"></i>&nbsp;Edit</a><br />
        <a href="/publication/{{publication.id}}"><i class="fa fa-search"></i>&nbsp;View</a><br />
        <a href="/publication/{{publication.id}}/delete"><i class="fa fa-remove"></i>&nbsp;Delete</a>
    </div>
    <div class="col-md-10">
        <h2>
            <i class="fa fa-{{publication.isdocument ? 'file-word-o'}}{{publication.isapp ? 'android'}}{{publication.isdata ? 'file'}}{{publication.issourcecode ? 'file-code-o'}} fa-3x"></i>
            {{ publication.name }}
        </h2>
        <p>id: {{ publication.id }}</p>
        <p>name: {{ publication.name }}</p>
        <p>description: {{ publication.description }}</p>
        <p>
        </p>
        <p>is document?: {{ publication.isdocument }}</p>
        <p>is app?: {{ publication.isapp }}</p>
        <p>is data?: {{ publication.isdata }}</p>
        <p>is source code?: {{ publication.issourcecode }}</p>
        <p>authors: {{ publication.authors }}</p>
    </div>
    </section>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
