{% extends 'page.twig' %}

{% import 'form.twig' as f %}

{% block title %}
  Publication
{% endblock title %}

{% block pageheader %}
{% endblock pageheader %}

{% block main %}
    <section class="row">
        <div class="col-md-2">
            {% include 'publication/_contextoptions.twig' %}
        </div>
        <div class="col-md-10">
            <h2>
                <i class="fa fa-{{publication.isdocument ? 'file-word-o'}}{{publication.isapp ? 'android'}}{{publication.isdata ? 'file'}}{{publication.issourcecode ? 'file-code-o'}} fa-3x"></i>
                {{ publication.name }}
            </h2>
            <dl class="dl-horizontal">
                <dt>id</dt><dd>{{ publication.id }}</dd>
                <dt>name</dt><dd>{{ publication.name }}</dd>
                <dt>description</dt><dd>{{ publication.description }}</dd>
                <dt>type</dt><dd>{{ publication.isdocument }}{{ publication.isapp }}{{ publication.isdata }}{{ publication.issourcecode }}</dd>
                <dt>author(s)</dt>
                <dd>
                    {% set authors = publication.authors|split(',') %}
                    {% for a in authors %}
                        <span class="label label-success">{{a}}</span>
                    {% endfor %}
                </dd>
                <dt>meta-tag(s)</dt>
                <dd>
                    {% set tags = publication.tags|split(',') %}
                    {% for t in tags %}
                        <span class="label label-default">{{t}}</span>
                    {% endfor %}
                </dd>
            </dl>
        </div>
    </section>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
